 body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("assets/images/b3.jpg");
    background-repeat: no-repeat;
    font-family: "Courier Prime", monospace;
  }

  /* HOME PAGE */

  /* Navigation Bar for both pages */
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    background-image: linear-gradient(to right,black, #473119, #473119, #473119, black);
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }

  .navbar li a:hover {
    background-color: #ddd;
    color: rgb(29, 12, 1);
  }
  /* End Navigation Bar */

  /* Heading */
  .heading {
    margin: 0 200px;
    margin-top: 30px;
    font-size: 2.5rem;
    color: rgb(93, 53, 4);
    text-align: center;
  }

  h1 span {
    display: flex;
    flex-direction: row;
  }

  h1 span.title-1 {
    font-weight: 700;
    text-transform: uppercase;
  }

  h1 span.title-2 {
    font-size: 3.5rem;
    color: white;
  }

  h1 span.title-3 {
    font-size: 3.5rem;
    color: white;
  }
  /* End Heading */

  /* Home Page Content */
  .home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 200px;
    margin-top: 50px;
  }

  /* Left Side */
  .home-card {
    height: 500px;
    width: 700px;
  }

  .home-card h2 {
    font-size: 2.5rem;
    margin: 10px;
    padding: 10px;
    padding-top: 30px;
  }

  .home-card p {
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
  }

  .home-card .btn {
    background-color: rgb(93, 53, 4);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px;
    float: right;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
  }

  .home-card .btn:hover {
    background-color: white;
    color: rgb(93, 53, 4);
  }

  /* Right Side */
  .home-image img {
    height: auto;
    width: 100%;
  }
  /*End Home Page Content */

  /* END HOME PAGE */
  
  /* Footer for both pages*/
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right,black, #473119, #473119, #473119, black);
    color: white;
    /* position: fixed; */
  }
  
  /* BLOG POST PAGE */
  
  /* blog post */
  .blog-heading {
    margin: 10px 50px;
    font-size: 2.5rem;
    color: rgb(93, 53, 4);
    text-align: center;
    padding-left: 20px;
  }

  .blog-heading p {
    font-size: 3.5rem;
  }

  .blog-container {
    height: 100vh;
    min-width: auto;
    display: grid;
    margin: 50px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
  }

  hr {
    display: block;
    border: 0;
    border-top: 1px solid #000000;
  }

  /* left side blog */
  .blog-left {
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .blog-title {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "hd hd"
    "rw rw";
  }

  .blog-title h2 {
    grid-area: hd;
  }

  .blog-title img {
    background-color: rgb(7, 101, 101);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .blog-suspects-list {
    padding-left: 30px;
  }

  .blog-suspects-list li {
    list-style: square;
  }

  /* right side of blog */
  .blog-right {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .blog-right h2 {
    text-align: center;
    text-transform: capitalize;
  }

  .about {
    background-color: rgba(193, 154, 106, 0.836);
    margin-bottom: 20px;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
  }

  .blog-about p {
    background-color: rgb(255, 235, 205);
    box-shadow: 5px 5px 5px rgba(93, 53, 4, 0.493) inset;
    margin: 20px;
    padding: 10px;
  }

  .blog-podcast {
    background-color: rgba(193, 154, 106, 0.836);
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
    margin-bottom: 20px;
  }

  .blog-lists {
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px rgba(93, 53, 4, 0.493) inset;
    margin: 20px;
    padding: 10px;
  }

  .blog-notes {
    display:flex;
    flex-wrap: wrap;
  }

  .blog-notes img {
    width: 100px;
    height: 100px;
  }
  
  .blog-image img {
    width: 400px;
    height: 300px;
  }
 
  .blog-subscription{
    background-color: rgba(193, 154, 106, 0.836);
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
    margin-bottom: 20px;
  }

  .blog-subscribe-container{
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px rgba(93, 53, 4, 0.493) inset;
    margin: 20px;
    padding: 10px;
  }
  
  .blog-input input {
    background-color: rgba(179, 166, 166, 0.215);
    width: 100%;
    height: 30px;
    margin: 10px auto;
  }

  .blog-socials {
    background-color: rgba(193, 154, 106, 0.836);
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
    text-align: center;
  } 

  .blog-links {
    display: flex;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    box-shadow: 5px 5px 5px rgba(93, 53, 4, 0.493) inset;
    margin: 20px;
    padding: 10px;
  }

  .blog-links a {
    color: black;
    line-height: 15px;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

  .blog-btn .submit {
    background-color: rgb(93, 53, 4);
    color: white;
    font-size: 20px;
    transition: 0.3s ease-in-out;
  }

  .blog-btn .submit:hover {
    background-color: white;
    color: rgb(93, 53, 4);
  }
/* END BLOG POST PAGE */

/* Media Queries */