/* landing-page.css */

/* Hero Section */
.hero-section {
    /* background: linear-gradient(to right, #1c1c1c, #3a3a3a); */
    /* background-image: linear-gradient(to right,black, #473119, #473119, #473119, black); */
   
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-btn {
    background-color: #ff6b6b;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.hero-btn:hover {
    background-color: #e85a5a;
}

/* Feature Highlights Section */
.features-highlights {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

/* Individual Feature Card */
.feature {
    flex: 1 1 250px;
    max-width: 300px;
    padding: 1.5rem;
    background-color: rgba(193, 154, 106, 0.836);
    margin-bottom: 20px;
    box-shadow: 5px 8px 5px rgba(93, 53, 4, 0.493);
    border-radius: 1px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-content {
    background-color: rgb(255, 235, 205);
    box-shadow: 5px 5px 5px rgba(93, 53, 4, 0.493) inset;
    margin: 20px;
    padding: 10px;
}

.feature i {
    font-size: 3rem; /* Adjusted icon size */
    color: #473119;
    margin-bottom: 1rem;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.feature p {
    font-size: 1rem;
}

/* Responsive Media Queries for Feature Section */
@media only screen and (max-width: 950px) {
    .feature-highlights {
        flex-direction: column;
        justify-content: flex-start; /* Adjust for smaller screens */
    }

    .feature {
        max-width: 100%;
    }
}

@media only screen and (max-width: 775px) {
    .feature-highlights {
        padding: 2rem 1rem;
    }

    .feature {
        padding: 1rem;
    }
}
